---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Strategic",
    titleBottom: "Diagnosis",
    img: c1,
    alt: "Strategic Diagnosis",
    link: "#contact",
  },
  {
    index: 2,
    titleTop: "Strategy",
    titleBottom: "Design",
    img: c2,
    alt: "Strategy Design",
    link: "#contact",
  },
  {
    index: 3,
    titleTop: "Market",
    titleBottom: "Intelligence",
    img: c3,
    alt: "Market Intelligence",
    link: "#contact",
  },
  {
    index: 1,
    titleTop: "Hypothesis",
    titleBottom: "Testing",
    img: c4,
    alt: "Hypothesis Testing",
    link: "#contact",
  },
  {
    index: 2,
    titleTop: "Strategic",
    titleBottom: "Narrative",
    img: c5,
    alt: "Strategic Narrative",
    link: "#contact",
  },
  {
    index: 3,
    titleTop: "Advisory &",
    titleBottom: "Accountability",
    img: c6,
    alt: "Advisory and Accountability",
    link: "#contact",
  },
];

const description =
  "Consulting that starts with the right questions, not predetermined answers. Every engagement is built around your specific challenge.";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
