---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Marketing",
    titleBottom: "Strategy",
    img: c1,
    alt: "Marketing Strategy",
    link: "#contact",
  },
  {
    index: 2,
    titleTop: "Paid",
    titleBottom: "Advertising",
    img: c2,
    alt: "Paid Advertising",
    link: "#contact",
  },
  {
    index: 3,
    titleTop: "Growth",
    titleBottom: "Consulting",
    img: c3,
    alt: "Growth Consulting",
    link: "#contact",
  },
  {
    index: 1,
    titleTop: "Marketing",
    titleBottom: "Automation",
    img: c4,
    alt: "Marketing Automation",
    link: "#contact",
  },
  {
    index: 2,
    titleTop: "Analytics &",
    titleBottom: "Reporting",
    img: c5,
    alt: "Analytics and Reporting",
    link: "#contact",
  },
  {
    index: 3,
    titleTop: "Brand &",
    titleBottom: "Positioning",
    img: c6,
    alt: "Brand and Positioning",
    link: "#contact",
  },
];

const description =
  "We work with businesses that want to grow with intention — combining strategic clarity, performance advertising, and smart automation.";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
